.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}

.navbar-center {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.account-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
